.service-grid {
	@extend .pt2;
	@extend .pb2;
	h2 {
		background-color: transparent;
	}
	background-color: $snow;
	&:nth-child( 2n -1 ) {
		background-color: $white;
	}
	.column-1-3 {
		background: {
			position: center center;
			repeat: no-repeat;
			size: cover;
		}
	}
}
.fp-service .service-grid {
	background-color: transparent !important;
}