// ============================== Site Maps ============================================================================= //
footer {
	padding: {
		top: 4rem;
		bottom: 2rem;
	}
	a {
		text-decoration: none;
	}
}
.footer-title {
	border-bottom: 1px solid;
	padding: 1rem 0 .5rem 1rem;
	margin-top: 5rem;
	.fa {
		margin-right: 1rem;
		font-size: 1.5rem;
	}
}
// ============================== Footer Link ============================================================================= //
.footer-sns {
	@extend .text-center;
	> a {
		margin: 1rem;
	}
}
.footer-copy {
	@extend .text-center;
}