//========================  global ========================================================================//
.c-news,
.c-product,
.c-profile {
	margin: 2rem auto;
}
//========================  Left Parts ========================================================================//
// POSTS
.c-news {
	time {
		font-size: 3rem;
		margin-right: 2rem;
	}
	.c-news_content {
		text-align: justify;
	}
}
// PRODUCTS
.c-product {
	> a {
		display: inline-block;
		width: 50%;
	}
	img {
		width: 100%;
		height: auto;
		max-width: none;
	}
}

//========================  Right Parts ========================================================================//
// MINNE
.c-minne {
	a {
		display: block;
		padding: 3rem;
		text-align: center;
	}
}
// SNS
.c-sns {
	text-align: center;
	> a {
		display: inline-block;
		width: 30%;
		text-align: center;
	}
	span,
	img {
		display: inline-block;
		width: 100%;
		height: auto;
	}
}