// ============================== SP Header ============================================================================= //
.header-main {
	transition: transform .6s, opacity .3s;
	text-align: center;
}
.header-main-container {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
	transition: transform .3s cubic-bezier( .4, 0, .2, 1 );
	&.is-unpinned {
		transform: translateY( -100% );
	}
}
.header-main-logo {
	position: relative;
	display: inline-block;
	transition: all .3s cubic-bezier( .4, 0, .2, 1 );
	height: 76px;
	z-index: 3;
	@include breakpoint( small only ) {
		svg {
			width: 160px;
			height: 76px;
			line-height: 76px;
		}
	}
	@include breakpoint( medium ) {
		height: 126px;
		line-height: 126px;
		svg {
			height: 126px;
			line-height: 126px;
		}
	}
	@include breakpoint( large ) {
		display: block;
		position: absolute;
		top: 0;
		left: 0;
		width: 11.25rem;
		height: 50vh;
		padding: 3.75rem;
		svg {
			width: 10rem;
			height: 50vh;
		}
	}
}
.is-unpinned .header-main-logo {
	@include breakpoint( large ) {
		top: 6.25rem;
	}
}
.header-main-nav-button {
	@extend .hide-for-large;
	position: absolute;
	top: 0;
	left: 0;
	cursor: pointer;
	line-height: 76px;
	z-index: 3;
	transition: transform .4s;
	-webkit-tap-highlight-color: transparent;
	padding-left: 18px;
	@include breakpoint( medium ) {
		height: 126px;
		line-height: 126px;
	}
	@include breakpoint( large ) {
		height: 6.25rem;
		line-height: 6.25rem;
	}
	button {
		width: 40px;
		height: 40px;
		position: relative;
		border-radius: $global-radius;
		display: inline-block;
		vertical-align: middle;
		border: 1px solid;
		@include breakpoint( medium ) {
			width: 100px;
			text-align: right;
		}
	}
	span {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -1px;
		margin-left: -11px;
		display: block;
		width: 22px;
		height: 2px;
		background-color: currentColor;
		transition: background-color .4s steps( 1, end );
		border-radius: $global-radius;
		&::before,
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			display: block;
			width: 22px;
			height: 2px;
			background-color: currentColor;
			top: -6px;
			transition: transform .4s ,background-color .4s steps( 1, end );
		}
		&::after {
			top: 6px;
		}
		@include breakpoint( medium ) {
			left: 20%;
		}
	}
	p {
		@extend .show-for-medium;
		margin: 0;
		display: inline-block;
		font-size: 12px;
		transition: transform .3s cubic-bezier( .4, 0, .2, 1 ),
			opacity .3s cubic-bezier( .4, 0, .2, 1 );
		padding-right: 10%;
	}
}
.has-nav-open .header-main-nav-button {
	button {
		transform: rotate( -360deg );
		border-radius: 50%;
		width: 40px;
	}
	span {
		left: 50%;
		&::before,
		&::after {
			width: 10px;
		}
		&::before {
			transform: translate( -3px, 3px ) rotate( -45deg );
		}
		&::after {
			transform: translate( -3px, -3px ) rotate( 45deg );
		}
	}
	p {
		display: none;
	}
}
// ============================== Main Menu ============================================================================= //
.nav-main-wrapper {
	position: fixed;
	top: 0;
	left: -50%;
	width: 50%;
	height: 100vh;
	padding: 0;
	text-align: left;
	font-size: 20px;
	transition: transform .4s;
	transition-timing-function: cubic-bezier( .4, 0, .2, 1 );
	z-index: 2;
	@include breakpoint( large ) {
		position: static;
		width: 100%;
		height: auto;
		font-size: 1rem;
		padding: {
			left: 11.25rem;
			right: 11.25rem;
		}
	}
}
.nav-main {
	margin: {
		top: 100px;
		bottom: 25px;
	}
	font-size: 20px;
	z-index: 1;
	@include breakpoint( medium ) {
		margin: {
			top: 8.75rem;
			bottom: 3.75rem;
		}
	}
	@include breakpoint( large ) {
		margin: 0 auto;
	}
	.menu {
		z-index: 1000;
		@include breakpoint( medium down ) {
			@include menu-direction( vertical );
		}
		li {
			display: block;
			@include breakpoint( large ) {
				display: inline-block;
			}
		}
		a {
			text-decoration: none;
			display: block;
			position: relative;
			color: currentColor;
			padding: 0 1.5625rem;
			line-height: 40px;
			@include breakpoint( medium ) {
				padding: 0 1rem;
				line-height: 56px;
			}
			@include breakpoint( large ) {
				padding: 0 1.5625rem;
				line-height: 11.125rem;
			}
		}
	}
}
.nav-overlay {
	@include breakpoint( medium down ) {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		background-color: rgba( #000, .5 );
		visibility: hidden;
		opacity: 0;
		transition: visibility, opacity;
		transition-duration: 0s, .4s;
		transition-delay: .4s, 0s;
		transition-timing-function: cubic-bezier( .4, 0, .2, 1 );
		z-index: 1;
	}
}
.has-nav-open {
	overflow: hidden;
	.nav-main-wrapper {
		transform: translateX(100%);
	}
	.nav-overlay {
		@include breakpoint( medium down ) {
			visibility: visible;
			opacity: 1;
			transition-delay: 0s;
		}
	}
}