// Global Settings
$main-font: 'Quicksand', '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$noto-font: 'Quicksand', 'Noto Sans Japanese', '游ゴシック体', 'Yu Gothic', YuGothic, 'ヒラギノ角ゴシック Pro', 'Hiragino Kaku Gothic Pro', 'メイリオ', Meiryo, Osaka, 'ＭＳ Ｐゴシック', 'MS PGothic', sans-serif;
$font: '../font/';
$img: '../img/';
@import "color-settings";
// Fonts
@import 'fonts/font-include';
.mceContentBody {
	font-family: $noto-font;
	font-weight: 200;
}
.post-meta {
	padding: 1rem;
	border: 1px solid #DDD;
	border-radius: 3px;
	margin: 1rem auto !important;
	list-style: none;
	li {
		position: static !important;
		margin: 0 !important;
		padding: 0 !important;
		&::before {
			background: transparent !important;
			position: static !important;
		}
	}
	.fa {
		margin-right: 1rem !important;
	}
}
// 外部リンク （ External Link )
.link-external-block {
	padding: .5rem;
	list-style: none;
	margin: 0 auto !important;
}
.link-external {
	display: inline-block;
	position: relative;
	padding-right: 2.2em;
	transition: all .3s;
	font-family: $main-font;
	&::after {
		position: absolute;
		right: 0.5em;
		padding: 0 1px;
		font-family: FontAwesome;
		transform: translateZ(0);
		content: '\f08e';
	}
	&:hover {
		color: $primary-color;
		text-decoration: none;
	}
}
p {
	line-height: 2.15;
	margin-bottom: 30px;
}
a:not(.button) {
	color: $primary-color;
	word-break: break-all;
}
h2 {
	background-color: #FFCE9E;
	border-radius: 3px;
	padding: 21px 18px 20px;
	margin: 80px 0 42px;
	font-family: $main-font;
	&:first-child {
		margin-top: 0;
	}
	i {
		margin-right: 1rem;
	}
}
h3 {
	border-left: 5px solid #FFCE9E;
	padding-left: 18px;
	margin: 60px 0 22px;
	font-family: $main-font;
}
h4 {
	border-left: 5px solid $gainsboro;
	padding-left: 18px;
	margin: 20px 0 22px;
	font-family: $main-font;
}
.bg-line {
	font-weight: 700;
	font-weight: 500;
	padding: .2rem;
	background: linear-gradient( transparent 40%, yellow 40% );
}