// Custom Reset CSS
*, *::before, *::after { box-sizing: border-box; }
img,svg {
	width: auto;
	max-width: 100%;
	height: auto;
	fill: currentColor;
}
svg:not(:root) {
	overflow: hidden;
}
.button,
button {
	font-family: $main-font;
	font-weight: normal;
	text-decoration: none;
	outline: 0;
}
// Border-Radius
.radius {
	border-radius: $global-radius;
}
// Dotted hr
hr.dotted {
	border-style: dashed !important;
	margin: 3em 0;
}
address { font-style: normal }
::section {
	background: rgba( 0, 0, 0, .5 );
	color: #FFF;
	text-shadow: none;
}
.u-background {
	color: #222;
	background-color: #FFF;
}
.u-alt-background {
	color: #FFF;
	background-color: $accent-color;
}
// ============================== Main ============================================================================= //
#content-wrapper,
footer,
.c-row {
	padding: {
		top: 100px;
		right: 25px;
		left: 25px;
	}
	@include breakpoint( medium ) {
		padding: {
			top: 126px;
			right: 3.75rem;
			left: 3.75rem;
		}
	}
	@include breakpoint( large ) {
		padding: {
			top: 13.75rem;
			right: 11.25rem;
			left: 11.25rem;
		}
	}
}
//========================  .call to action ========================================================================//
.call-to-action {
	position: relative;
	display: table;
	width: 100%;
	min-height: 100vh;
}
.cta-container {
	display: table-cell;
	width: 100%;
	vertical-align: middle;
	@extend .text-center;
}
.action-link {
	position: relative;
	display: inline-block;
	text-decoration: none;
	text-transform: lowercase;
	margin-bottom: .2rem;
	letter-spacing: -.05em;
	font-size: 40px;
	@include breakpoint( medium ) {
		font-size: 6.4rem;
	}
	@include breakpoint( large ) {
		font-size: 8.7rem;
	}
	&::after {
		content: "";
		position: absolute;
		bottom: 0;
		left: 0;
		width: 0;
		height: 1px;
		background-color: currentColor;
		transition: .3s;
	}
	span {
		display: inline-block;
		transition: .6s;
	}
	&:hover {
		&::after {
			width: 100%;
		}
		span {
			transform: rotateY( 360deg );
			color: currentColor;
			@for $i from 1 through 10 {
				&:nth-of-type( #{$i} ) {
					transition-delay: $i * .05s;
				}
			}
		}
	}
}
// ============================== Framework ============================================================================= //
// CSS Mask
.bg-mask-wrapper { position: relative; }
.bg-mask {
	padding: 0;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
// Buttonをボタン以外で使いたい...
.button.no-btn {
	cursor: auto;
	@extend .b-shadow-0;
	&:hover {
		@extend .b-shadow-0;
		background-color: inherit !important;
	}
}
// 外部リンク （ External Link )
.link-external {
	display: inline-block;
	position: relative;
	padding-right: 2.2em;
	transition: $mediumDuration;
	font-family: $noto-font;
	&::after {
		position: absolute;
		right: 0.5em;
		padding: 0 1px;
		font-family: FontAwesome;
		transform: translateZ(0);
		content: '\f08e';
	}
	&:hover {
		text-decoration: none;
	}
	&.img {
		padding: 0;
	}
}
.link-page-up {
	display: inline-block;
	position: relative;
	padding-left: 2.2em;
	transition: all .3s;
	font-family: $main-font;
	&::before {
		position: absolute;
		left: 0.5em;
		padding: 0 1px;
		font-family: FontAwesome;
		transform: translateZ(0);
		content: '\f106';
	}
	&:hover {
		color: $primary-color;
		text-decoration: none;
	}
}