// ============================== All Styles ============================================================================= //
[class^="layout-"] {
	margin-top: 2rem;
	margin-bottom: 2rem;
	h2:first-child,
	.section:first-child {
		@extend .mt0;
	}
}
// ============================== .post-meta ============================================================================= //
.post-meta {
	padding: 1rem;
	border: 1px solid #DDD;
	border-radius: $global-radius;
	margin: 1rem auto !important;
	background-color: $light-gray;
	ul {
		@extend .no-bullet;
		@extend .m0;
	}
	.fa {
		margin-right: 1rem;
	}
}
// ============================== .article-body ============================================================================= //
.article-body {
	padding: {
		top: 2rem;
		bottom: 2rem;
	}
	border-radius: $global-radius;
	background-color: $white;
	color: $black;
	p {
		line-height: 2.15;
		margin-bottom: 30px;
	}
	h2 {
		background-color: #FFCE9E;
		border-radius: $global-radius;
		padding: rem-calc(21 18 20);
		margin: rem-calc(80 0 42);
		i {
			margin-right: 1rem;
		}
	}
	.sub-title {
		color: #777;
		font-size: 1.125em;
	}
	h3 {
		border-left: 5px solid #FFCE9E;
		padding-left: rem-calc(18);
		margin: rem-calc(60 0 22);
	}
	h4 {
		border-left: 5px solid $gainsboro;
		padding-left: rem-calc(18);
		margin: rem-calc(20 0 22);
	}
	.title-block {
		background-color: #FFCE9E;
		border-radius: $global-radius;
		padding: rem-calc(21 18 20);
		margin: rem-calc(80 0 42);
		h2 {
			background-color: none;
			border-radius: 0;
			padding: 0;
			margin: 0 auto;
		}
	}
	.card.bg-mask-wrapper {
		padding: 0;
	}
}
// ============================== .layout-page only ============================================================================= //
.layout-page .article-body {
	h2 {
		@extend .text-center;
		background: none;
	}
	.sub-title {
		@extend .text-center;
	}
	h3 {
		@extend .text-center;
		@extend .b0;
		@extend .p0;
	}
}
// ============================== Pagination for Next / Prev POST ============================================================================= //
// ============================== Social Buttons ============================================================================= //
#social-buttons {
	width: 100%;
	padding: 1rem 0;
	margin: 2.5rem auto;
	@extend .bg-snow;
	@extend .text-center;
	[class^="waves-effect"] {
		@extend .button;
		margin: .5rem;
		text-decoration: none !important;
	}
	$button-name:
		'twitter',
		'facebook',
		'hatena',
		'googleplus',
		'pocket'
	;
	$button-color:
		$twitter,
		$facebook,
		$hatena,
		$googleplus,
		$pocket
	;
	@each $button in $button-name {
		$index_key: index( $button-name, $button );
		.btn-#{$button} {
			color: nth($button-color, $index_key) !important;
			background-color: lighten( nth($button-color, $index_key), 30%);
			&:hover,
			&:focus {
				color: $white !important;
				background-color: nth($button-color, $index_key);
			}
		}
	}
}
// ============================== Google Maps Embed ============================================================================= //
.gm-wrapper {
	height: 300px;
	@extend .p0;
	iframe {
		height: 300px;
	}
}