//========================  Loading Effect ========================================================================//
.is-loading #loader {
	visibility: visible;
	opacity: 1;
	.loader-figure {
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate( -50%, -50% );
		width: 3.75rem;
		height: 3.75rem;
		border: 0px solid #FFF;
		border-radius: 50%;
		z-index: 10000;
		animation: loader-figure 1.15s infinite cubic-bezier(.215,.61,.355,1);
	}
}
#loader {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 9999;
	transition: visibility, opacity;
	transition-duration: 0s, .3s;
	transition-delay: .3s, 0s;
	visibility: hidden;
	opacity: 0;
}
@keyframes loader-figure {
	0% {
		transform: scale(0)
	}
	30% {
		transform: scale(1);
		border-width: 1.875rem
	}
	70% {
		opacity: 1
	}
	100% {
		transform: scale(1);
		border-width: 0;
		opacity: 0
	}
}
//======================== CTA Animation ========================================================================//
.c-fab {
	position: fixed;
	bottom: 0;
	right: 0;
	z-index: 1000;
	transition:
		z-index 0s,
		transform .3s;
	-webkit-tap-highlight-color: transparent;
	@include breakpoint( 699px down ) {
		margin: 25px;
		right: -13px;
	}
	@include breakpoint( 700px ) {
		margin: 1.875rem;
	}
	@include breakpoint( 1200px ) {
		margin: 2.5rem;
	}
	@include breakpoint( 1600px ) {
		margin: 3.75rem;
	}
	&:hover {
		transform: scale( 1.1 );
	}
}
.c-fab_ripple {
	position: absolute;
	top: 50%;
	left: 50%;
	border-radius: 50%;
	z-index: 1;
	transform: scale( .005 );
	transition:
		transform .6s .2s,
		opacity .3s 0s,
		visivility 0s 0s;
	@include breakpoint( 999px down ) {
		width: 250vh;
		height: 250vh;
		margin: {
			top: -125vh;
			left: -125vh;
		}
	}
	@include breakpoint( 1000px ) {
		width: 250vw;
		height: 250vw;
		margin: {
			top: -125vw;
			left: -125vw;
		}
	}
}
.c-fab_button {
	position: relative;
	width: 56px;
	height: 56px;
	border-radius: 50%;
	font-size: 0;
	z-index: 2;
	box-shadow:
		0 1px 1.5px 0 rgba( #000, .12 ),
		0 1px 1px 0 rgba( #000, .24 );
	transition:
		color .3s,
		background-color .3s,
		box-shadow .3s,
		visibility 0s,
		opacity 0s;
}
.c-fab_icon {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 24px;
	height: 24px;
	margin: {
		top: -12px;
		left: -12px;
	}
	transition: opacity .3s;
	&.-close {
		opacity: 0;
	}
}




//======================== Opening a Contact Form ========================================================================//
.is-welcome {
	.c-fab_button {
		visibility: hidden;
		opacity: 0;
	}
	.c-fab_icon {
		&.-create {
			opacity: 1;
		}
		&.-close {
			opacity: 0;
		}
	}
}
.has-contact-open {
	overflow: hidden;
	.c-fab_button {
		color: $accent-color;
		background-color: #FFF;
	}
	.c-fab_icon {
		&.-create {
			opacity: 0;
		}
		&.-close {
			opacity: 1;
		}
	}
	.c-fab_ripple {
		transform: scale(1);
		opacity: 0;
		visibility: hidden;
		transition:
			transform .6s 0s,
			opacity .3s, .5s,
			visivility 0s .9s;
	}
	.c-contact {
		transition:
			visivility 0s 0s,
			opacity 0s 0s;
		visibility :visible;
		opacity: 1;
		overflow-y: auto;
	}
	.c-header-main_background,
	.c-header-main_nav {
		transition: background-color .3s;
		@extend .u-alt-background;
	}
	
}
.c-header-main_background,
.c-header-main_nav {
	@extend .u-background;
}
// Contact section
.c-contact {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	z-index: 901;
	visibility: hidden;
	opacity: 0;
	transition:
		visibility 0s .5s,
		opacity .1s .2s;
	text-align: left;
	@include breakpoint( medium ) {
		display: flex;
		flex-flow: row wrap;
		box-pack: center;
		justify-content: center;
		align-items: center;
	}
	.c-row {
		@include breakpoint( small only ) {
			margin-top: 76px;
			padding-top: 0;
		}
		@include breakpoint( medium ) {
			margin: {
				top: 0 !important;
				bottom: 0 !important;
			}
			padding: {
				top: 0 !important;
				bottom: 0 !important;
			}
		}
	}
}
.c-contact_message {
	position: relative;
	background-color: transparent;
	font-weight: 500;
	line-height: 1.2;
	font-size: 30px;
	margin: 0 auto 1.875rem;
	@include breakpoint( 700px ) {
		font-size: 4rem;
		margin: 0 auto 3.75rem;
	}
	@include breakpoint( 1000px ) {
		font-size: 5rem;
		margin: 0 auto 3.75rem;
	}
}
.c-contact_back {
	position: absolute;
	top: 0;
	left: 0;
	margin-top: -60px;
	opacity: 0;
	transition: opacity .2s ease-out;
	width: 3.75rem;
	height: 3.75rem;
	margin-bottom: 3.75rem;
	z-index: 10;
	@include breakpoint( 1000px down ) {
		top: 15%;
	}
}
.o-button_text {
	font-weight: bold;
	font-size: 1.25rem;
}
// JS-message & JS-contact-step
.c-contact_message span {
	@extend .c-contact_menuItem;
	transition-delay: $mediumDuration !important;
	display: block;
}
.c-contact_menuItem {
	opacity: 0;
	transform: translateY(100%);
	position: relative;
	transition: opacity .3s cubic-bezier(.4, 0, .2, 1),
		transform .3s cubic-bezier(.4, 0, .2, 1);
	&.is-active {
		opacity: 1;
		transform: none;
		transition-duration: .8s;
	}
}

